
  *{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
  }
  body{
     font-family:"Work Sans",sans-serif;
  }  
  .container{
   padding-left:15px;
   padding-right: 15px;
   margin-left:auto ;
   margin-right: auto;
  }

@media(min-width:768px){
   .container{
      width: 750px;
   }
}
@media(min-width:992px){
   .container{
      width: 970px;
   }
}
@media(min-width:1200px){
   .container{
      width: 1170px;
   }
}
   .spaical-heading {
      color: #f6f6f6;
      font-size: 100px;
      text-align: center;
      font-weight: 800;
      letter-spacing: -3px;
      margin: 0;
      
   }
   .spaical-heading + p{
      color: #575757;
      font-weight: 500;
      text-align: center;
      font-size: 15px;
      margin: -30px 0 0;

   }
   @media (max-width:767px){
      .spaical-heading{
       font-size: 60px;
      }
      .spaical-heading + p{
       font-size: 10px;
       margin: -18px 0 0;
      }
   }
.header{
   padding :20px;
}
.header .container {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.header .logo {
   width: 60px;
}
.header .links {
   position: relative;
}
.header .links:hover .icon span:nth-child(2){
   width:100%;
}
.header .links .icon {
   width: 25px;
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-end;
    
}
.header .links .icon span{   
   background-color: black;
   margin-bottom:5px;
   height: 2px;
}
.header .links .icon span:first-child{
width: 100%;
}
.header .links .icon span:nth-child(2){
   width: 60%;
   transition: 0.4s;
   }

.header .links .icon span:last-child{ 
 width: 100%;  
}
.header .links ul{
   list-style: none;
   padding:0;
   margin: 0;
   background-color:rgb(190, 196, 201) ;
   position: absolute;
   right: 0;
   min-width: 200px;
   top:30px;
   display:none;
   z-index: 1;
}
.header .links ul::before{
   content:"" ;
   border-width:10px;
   border-style:solid;
   border-color:transparent transparent gainsboro transparent ;
   position: absolute;
   right:1px;
   top:-20px;
}
.header .links:hover ul{

   display:block;
}
.header .links ul li a{
   padding: 15px;
   display:block;
   background-color:gainsboro;
   text-decoration: none;
   transition: 0.3s;
}
.header .links ul li a:hover{
   padding-left:25px ;
   border-bottom: 1px solid darkgrey;
}
.landing {
   background-image: url(../image/landin\ page.jpg);
   background-size: cover;
   height: calc(100vh - 64px);
   margin: 0;

}
.landing .intro-text {
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
text-align: center;
width: 320px;
max-width: 100%;
}

.landing .intro-text h1{
   margin: 0;
   font-weight: bold;
   font-size: 60px;
   color: #10cab7;
   
}
.landing .intro-text p{
margin: 0;
font-size:17px;
line-height: 1.8;
position: absolute;
}
.feature  {
background-color: aliceblue;
padding-bottom:60px ;
padding-top: 60px;


}
.feature .container{
   display: grid;
   grid-template-columns : repeat(auto-fill , minmax(350px,1fr)) ;
   grid-gap: 20px;
   

}

.feature .feat {
   padding: 20px;
   text-align: center;
   margin: 0;
}

.feature .feat i {
   color: #10cab7;

}
.feature .feat h3 {
  font-weight: 800;
  margin : 30px 0;

}
.feature .feat p {
   line-height: 1.8;
   color: #777;
   font-size: 17px;
}
.services {
padding-top: 20px;   
padding-bottom: 20px;
}
.services .container .spaical-content  {
   display: grid;
   grid-template-columns : repeat(auto-fill , minmax(350px,1fr)) ;
   grid-gap:30px;
   margin-top: 80px; 
}
.services .spaical-content .srv{
margin-bottom: 40px;
}
.services .logo {
   width: 50px;
   height: 50px;
} 

   @media (max-width:767px){
      .services .spaical-content .srv{
         text-align: center;
         flex-direction: column;
      }
   }
      .services .srv .text {
         flex: 1;
      }
      
      .services .srv .text h4 {
      margin: 0 0 30px;
      
      }
      
      .services .srv .text p{
      color: #444;
      font-weight: 300;
      line-height: 1.6 ;
      }
      .services .spaical-content .image{
         text-align: center;
         position: relative;
         z-index: 1;
      }
      .services .spaical-content .image::before{
         content: "";
         background-color: #2c4755;
         width: 150px;
         height: 420px;
         position: absolute;
         bottom: 80px;
         right:3px;
         z-index: -1;
      }
      .services .spaical-content .image img{
         width: 350px;
         height: 350px;
         position: absolute;
         left: 0;
      }
      @media (max-width:1199px){
         .image{
            display: none;
         }

      }
      .portfolio{
         padding-top:20px ;
         padding-bottom:20px ;
      }
      .portfolio .container .spaical-content {
         display: grid;
         grid-template-columns : repeat(auto-fill , minmax(350px,1fr)) ;
         grid-gap:30px;
         margin-top: 80px;
         justify-content: center;

      }
      .portfolio .container .spaical-content .port {
      background-color: white;
      }

      .portfolio .imag img{
        max-width: 100%;
      }
      .portfolio .port {
         box-shadow: 1px 1px 3px black;
         box-sizing: 0 0 10px;
      }
      .portfolio .text {
         text-align: left;
         padding-left: 20px;
         padding-right: 20px;
         margin: 0;
      }
      .portfolio .text h3{
      font-size: 20px;
      font-weight: 800;   
      }
      .portfolio .text p {
         font-size: 15px;
         font-weight: 300;
         line-height: 1.8;   
         }
      .about{
         padding-top: 60px;
         padding-bottom: 60px
      }
      .about .container .spaical-content{
         display: grid;
         grid-template-columns : repeat(auto-fill , minmax(350px,1fr)) ;
         grid-gap:80px;
         margin-top: 100px;


      }
      @media(max-width:991px){
         .about .container .spaical-content{
            flex-direction: row;
            text-align: center;
         }
      }
      .about .container .spaical-content .imag {
         text-align: left;
         position: relative;
      }
      @media(max-width:991px){
         .about .container .spaical-content .imag img{
            margin-left: 50px;
         }
      }
      .about .container .spaical-content .imag img{
         width: 400px;
         height: 400px;
         display: flex;
         position: relative;
      }

      .about .container .spaical-content .text p1{
         font-size: 20px;
         font-weight: 800;
         text-align: left;
         line-height: 2.0;

      }
      .about .container .spaical-content .text hr{
         margin-top: 80px;
         color: #10cab7;
         
      }

      .about .container .spaical-content .text p2{
         font-size: 15px;
         font-weight: 300;
         line-height: 2.0;
         text-align: left;
         color: #777;
         
      }
      
      .about .container .spaical-content .imag::before{
         content: "";
         background-color:#f6f6f6;
         position: absolute;
         width: 100px;
         height: 500px;
         left:0px;
         bottom: -45px;
         z-index: -1;
      }
      .about .container .spaical-content .imag::after{
         content: "";
         position: absolute;
         width: 120px;
         height: 300px;
         border-left:80px solid #10cab7;
         border-bottom:80px solid #10cab7;
         right: -30px;
         bottom: 40px;
         z-index: -1;
      }
      @media(max-width:991px){
         .about .container .spaical-content .imag::before{
            display: none;
         }
         .about .container .spaical-content .imag::after{
            display: none;
         }

      }
      .contact{
         padding-top: 60px;
         padding-bottom: 120px;
         text-align: center;
      }
      .contact .container .cont .lable {
      font-size: 55px;
      font-weight:bolder;
      color: #2c4755;
      letter-spacing: -3px;
      }
      .contact .container .cont a {
      font-size: 50px;
      font-weight: 800;
      color: #10cab7;
      letter-spacing: -3px;

      }
      .contact .container .cont .social {
         font-size: 15px;     
         color: #334752;
         margin-top: 30px;
         display: flex;
         justify-content: center;

      }
      @media(max-width:720px){
         .contact .container .cont .lable,.contact .container .cont a{
            font-size: 30px;
         }
      }
      .contact .container .cont .social i {
         margin-left:10px ;

      }


      .footer{
         padding: 40px;
         background-color: #2c4755;
         text-align: center;

         font-size: 20px;         
         color: white;
      }
      .footer span{
         color: #10cab7;
      }
   